.banner__number {
font-family: "Bakbak One",  Arial, sans-serif;
font-weight: 400;
font-size: 52px;
}

.banner__title {
color: rgba(245, 248, 251, 1)
}

.banner__subtitle {
font-size: 20px;
}

.banner__label {
font-size: 14px;
}