.tag {
font-weight: 500;
font-size: 14px;
color: rgba(2, 101, 220, 1);


&--primary {
background-color:rgba(245, 248, 251, 1);
color: rgba(2, 101, 220, 1);
}

&--accent {
background-color: rgba(234, 56, 41, 1);
color: rgba(245, 248, 251, 1);
}
}