.about {
    background-color: rgba(26, 25, 37, 1);

  &__description {
    font-size: 20px;
    font-weight: 500;
  }  
.counted-list {
    &__title {
        font-size: 24px;
}

 &__text {
        font-size: 18px;
}
}
}
