.button {
    font-size: 18px;
    font-weight: 600;
    border: 2px solid rgba(208, 215, 251, 0.17);
}

.button--large {
    background-color: rgba(2, 101, 220, 1);
}
    
.banner__button {
    background-color: rgba(2, 101, 220, 1);  
}

.banner-title-highlight {
    color: rgba(2, 101, 220, 1);
}