@use '../base/variables' as *;

.catalog {
&-card__price {
    font-family: $accent-font;
    font-weight: 400;
    font-size: 36px;
}
}
.catalog-card__img {
     display:block;
     width:100%;
     height:auto;
     }
