.team {
    &__title {
        font-size: 36px;
        text-align: center;
        line-height: 48px;
        letter-spacing: -0, 5px;
    }

.team-member {
    width: 330px;
    height: 316px;
    background-color: rgba(29, 28, 40, 1);
    
	&__photo {
		width: 120px;
		height: 120px;
		border-radius: 50%;
		object-fit: cover;
		display: block;
		margin: 0 auto 24px auto;
	}
}

&__list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 32px;
    padding: 40px 20px;
    text-align: center;
}




&__name {
    font-size: 24px;
    text-align: center;
}

&__role {
    font-size: 18px;
    text-align: center;
}

&__social {
    display: flex;
    justify-content: center;
}
}