.button {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  background: none;
  text-decoration: none;
  position: relative;

  font-weight: 600;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  cursor: pointer;

  &--large {
    font-size: 18px;
    padding: 10px 24px;
    min-width: 141px;
    min-height: 48px;
  }

  &--medium {
    font-size: 16px;
    padding: 8px 20px;
    min-width: 127px;
    min-height: 40px;
  }

  &--small {
    font-size: 14px;
    padding: 6px 12px;
    min-width: 96px;
    min-height: 32px;
  }

  &--primary {
    background-color: rgba(2, 101, 220, 1);
    color: rgba(245, 248, 251, 1);

    &:active {
      background-color: rgba(0, 84, 182, 1);
    }

    &:hover {
      background-color: rgba(14, 115, 230, 1);
    }

    &:disabled,
    &[disabled] {
      background-color: rgba(208, 215, 251, 0.17);
      color: rgba(229, 236, 251, 0.36);
    }

  }

  &--secondary {
    background-color: rgba(13, 13, 21, 1);
    border: 2px solid rgba(208, 215, 251, 0.17);
    color: rgba(245, 248, 251, 1);


    &:hover {
      background-color: rgba(191, 197, 238, 0.12);
    }

    &:disabled,
    &[disabled] {
      background-color: rgba(208, 215, 251, 0.17);
      color: rgba(229, 236, 251, 0.36);
      border-color: rgba(229, 236, 251, 0.36);
    }
  }

  &:disabled,
  &[disabled] {
    cursor: not-allowed;
    pointer-events: none;
  }
}