.button {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  background: none;
  text-decoration: none;

  font-weight: 600;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  cursor: pointer;

  &--large {
    font-size: 18px;
    padding: 10px 24px; 
    min-width: 141px;
    height: 48px;
  }

  &--medium {
    font-size: 16px;
    padding: 8px 20px;
    min-width: 127px;
    height: 40px;
  }

   &--small {
    font-size: 14px;
    padding: 6px 12px;
    min-width: 96px;
    height: 32px;
  }

  &--primary {
    position: relative;
    background-color: rgba(2, 101, 220, 1);
    color: rgba(245, 248, 251, 1);
    border: none;

    &:active { background-color: rgba(0, 84, 182, 1); }
    
    &:hover { background-color: rgba(14, 115, 230, 1); }

    &:disabled,
    &[disabled] {
    background-color: rgba(2, 101, 220, 0.3);
    cursor: not-allowed;
   }

  }

  &--secondary {
    position: relative;
    background: transparent;
    width: 150px;
    height: 48px;
    border: 2px solid rgba(208, 215, 251, 0.17);
    color: rgba(245, 248, 251, 1);
    cursor: pointer;

    &::after {
      content: "";
      position: absolute;
      inset: 0;
      border-radius: inherit;
      background: rgba(255, 255, 255, 0.1);
      opacity: 0;
      transition: opacity 0.3s;
      pointer-events: none;
    }

    &:hover::after { opacity: 1; }

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }
}
