<footer>
 <img src="logo.png" alt="Logo BINABOX">
 <p>We are the best way to check the rarity of NFT collection</p>
 <h4>Navigation</h4>
        <nav>
           <ul>
            <li>
              <a href="/home">Home</a>
            </li>
             <li>
                <a href="/blog">Blog</a>
            </li>
             <li>
                <a href="/catalog">Catalog</a>
            </li>
                <li>
                <a href="/contact">Contact Us</a>
            </li>
             <li>
              <a href="/terms">Terms Canditions</a>
            </li>
             <li>
                <a href="/policy">Privacy Policy</a>
            </li>
             <li>
                <a href="/whitepaper">Whitepaper</a>
            </li>
                <li>
                <a href="/help">Help Center</a>
            </li>
        </ul> 
        <p>BINABOX 2025 - ALL rights reserved</p> 
         <a href="#">Twitter<img src="#" alt="Tw" /></a>
        <a href="#">Facebook<img src="#" alt="Fb" /></a>
        <a href="#">Telegram<img src="#" alt="T" /></a>
        <a href="#">YouTube<img src="#" alt="Yt" /></a>
        <a href="#">Discord<img src="#" alt="D" /></a>
        </nav>
     </footer>