<blockquote class="blog-article__quote">
  “{{ quote.text }}”
  <img src="{{ quote.star }}" alt="Star logo" class="blog-article__quote-star">
  <p class="blog-article__quote-text">
    <span class="blog-article__quote-rating">{{ quote.rating }}</span>
    {{ quote.source }}
  </p>
</blockquote>
