<div class="tags">
  <p class="tags__label">Tags:</p>
  <ul class="tags__list">
    {% for tag in tags %}
      <li class="tag__item"><a href="#" class="tag__link">{{ tag }}</a></li>
    {% endfor %}
  </ul>
</div>
