
:root {
  --color-white: rgba(245, 248, 251, 1);
  --color-gray: rgba(239, 245, 250, 0.82);
  --color-bg: rgba(13, 13, 21, 1);
}

$base-font: "Poppins", "Arial", sans-serif;
$accent-font: "Bakbak One", "Arial", "Helvetica", sans-serif;

$breakpoint-mobile: 360px;
$breakpoint-tablet: 748px;
$breakroint-desktop: 1024px;
$breakpoint-desktop-lg: 1280px;

